h1{
    color: rgb(130, 231, 130);}
    h2{
        color:rgb(239, 172, 239) ;}
        p{
            color:rgb(239, 172, 239) ;
        }
        h3{
            color: rgb(80, 80, 237) ;
        }
        button{background-color: blue;}